@font-face {
    font-family: pokemon;
    src: url("../assets/fonts/hollow.ttf") format("opentype");
}

@font-face {
    font-family: pokemon_solid;
    src: url("../assets/fonts/solid.ttf") format("opentype");
}

body {
    background-color: #ffffff;
    margin: 0;
    width: 100vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: sans-serif;
}

#top-nav-container {
    width: 100%;
    aspect-ratio: 16 / 1.15;
    background-color: #0A3873;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    margin-bottom: 5vh;
}

#empty-container{
    height: 100%;
    aspect-ratio: 1 / 1;
}

#logo-container{
    height: 100%;
    width: 95vw;
    display: flex;
    align-items: center;
    justify-content: center;
}

#logo-container img{
    height: 85%;
    width: auto;
}

#github-container{
    height: 100%;
    aspect-ratio: 1 / 1;
    display: flex;
    align-items: center;
    justify-content: center;
}

#github-container img{
    width: 60%;
    height: auto;
}

#main-container{
    width: 100%;
    aspect-ratio: 3 / 1;
    background-color: aqua;
    display: flex;
    flex-direction: row;
}

#map-container {
    height: 100%;
    width: 100%;
    background-color: black;
    display: flex;
    flex-direction: column;
    align-items: center;
}

#map-select-container{
    width: 100%;
    aspect-ratio: 16 / 1;
    background-color: aquamarine;
    display: flex;
    justify-content: center; 
    align-items: center;   
}

#regions-select{
    border-radius: 10px;
    height: 60%;
    aspect-ratio: 8 / 1;
    min-height: 24px;
}

#map-real-container{
    width: 100%;
    height: 100%;
    background-color: rgb(248, 190, 0);
}

#cards-container {
    height: 100%;
    width: 100%;
    background-color: rgb(255, 255, 255);
    display: flex;
    flex-wrap: wrap;   
    justify-content: center;          
    gap: 10px;                  
    overflow-y: auto;            
    padding: 10px;
    box-sizing: border-box;
}

.card {
    width: 24%;
    min-width: 200px;
    aspect-ratio: 2 / 3;
    background-color: rgb(175, 12, 12);
    border-radius: 8px;
    color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: 100%;
}

.card:hover{
    cursor: pointer;
    background-color: rgb(82, 7, 7);
}

.card-active{
    background-color: rgb(82, 7, 7);
}

.card-img{
    margin-top: 10%;
    width: 80%;
    aspect-ratio: 1 / 1;
}

#select-container{
    width: 100%;
    aspect-ratio: 16 / 1;
    background-color: rgb(0, 81, 255);
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    margin-top: 2.5vw;
}

#pokemon-screen, #route-screen, #region-screen {
    flex: 1;
    height: 100%;
    background-color: rgb(8, 104, 189);
    box-sizing: border-box;
    display: flex;
    align-items: center;      
    justify-content: center; 
    font-size: 2.5vw;
}

#pokemon-screen:hover, #route-screen:hover, #region-screen:hover{
    cursor: pointer;
    background-color: rgb(5, 60, 109);
}

.active {
    background-color: rgb(5, 60, 109) !important;
}

#content-container{
    width: 100%;
    height: 100vh;
}